#main, .apple {
  border : 1px solid black; 
}

#max {
  padding : 50px;
  height : 100%; 
}

@media screen and (min-width: 480px) {
  .body:hover {
    background-color : rgba(10,11,14,15) !important; 
  }
}
